<form [formGroup]="contactForm">
  
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput  placeholder="Código" formControlName="cod_contact">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="3" rowHeight="100px">

        <mat-grid-tile>
          <mat-form-field>
            <input matInput  placeholder="Nombre" formControlName="name_contact">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput  placeholder="Apellido" formControlName="lname_contact">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput  placeholder="Cargo" formControlName="position">
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>    
      
  
  <div formArrayName="medias">
    
      <div *ngFor="let media of medias; let index = index" >
        <div *ngIf="!s">
          <app-contact-media (sendMedia)="addMediaForm($event)"></app-contact-media>
        </div>
        <div *ngIf="s">
          <app-contact-media (sendMedia)="addMediaForm($event)" [medias]="s.medias[index]"></app-contact-media>
        </div>
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile>
              <button mat-flat-button color="warn" (click)="removeTab(index); ">Eliminar contacto</button>
            </mat-grid-tile>
          </mat-grid-list>  
      </div>    
  </div>

 <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile>
      <button mat-flat-button (click)="addMedia();">Nuevo medio de contacto</button>
    </mat-grid-tile>
  </mat-grid-list>  

 <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <mat-form-field>
        <textarea matInput placeholder="Observación" ></textarea>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>  

  
  <div class="row">
    <div class='col-lg-12 col-sm-12'>
      <div class='col-lg-12 col-sm-12 smart-form' >
        <label>Notificar ante:</label>
        <div class="row">
          <div class='col-lg-12 col-sm-12'>
            <div class='col-lg-12 col-sm-12 smart-form' >
              <mat-checkbox *ngIf="!s || !s.not_fac" formControlName="not_fac" >Aviso de factura</mat-checkbox>
              <mat-checkbox *ngIf="s && s.not_fac" formControlName="not_fac"  [ngModel]="true">Aviso de factura</mat-checkbox>

              <mat-checkbox  *ngIf="!s || !s.not_first" formControlName="not_first" >Primer aviso</mat-checkbox>
              <mat-checkbox  *ngIf="s && s.not_first" formControlName="not_first" [ngModel]="true" >Primer aviso</mat-checkbox>

              <mat-checkbox *ngIf="!s || !s.not_sec" formControlName="not_sec">Segundo aviso</mat-checkbox>
              <mat-checkbox *ngIf="s && s.not_sec" formControlName="not_sec" [ngModel]="true">Segundo aviso</mat-checkbox>

              <mat-checkbox *ngIf="!s || !s.not_third" formControlName="not_third">Tercer aviso</mat-checkbox>
              <mat-checkbox *ngIf="s && s.not_third" formControlName="not_third" [ngModel]="true">Tercer aviso</mat-checkbox>

              <mat-checkbox *ngIf="!s || !s.not_down" formControlName="not_down">Aviso de baja</mat-checkbox>
              <mat-checkbox *ngIf="s && s.not_down" formControlName="not_down" [ngModel]="true">Aviso de baja</mat-checkbox>

              <mat-checkbox *ngIf="!s || !s.not_cut" formControlName="not_cut">Corte de servicio</mat-checkbox>
              <mat-checkbox *ngIf="s && s.not_cut" formControlName="not_cut" [ngModel]="true">Corte de servicio</mat-checkbox>

            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
</form>
    