
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        
          <li class="sidebar-search">
              <div class="input-group custom-search-form">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
              </div>
              <!-- /input-group -->
              
          </li>
          <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> Ventas<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="panels-wells.html">Clientes</a>
                </li>
                <li>
                    <a href="buttons.html">Atributos de clientes</a>
                </li>
                <li>
                    <a href="notifications.html">Comprobantes de ventas</a>
                </li>
                <li>
                    <a href="typography.html">Recibos</a>
                </li>
                <li>
                    <a href="icons.html"> Listas de precio</a>
                </li>
                <li>
                    <a href="grid.html">Condiciones de venta</a>
                </li>
                <li>
                  <a href="grid.html">Saldos</a>
              </li>                
            </ul>
            <!-- /.nav-second-level -->
            
        </li>

          <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i>Compras<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="panels-wells.html">Proveedores</a>
                </li>
                <li>
                    <a href="buttons.html">Atributos de proveedores</a>
                </li>
                <li>
                    <a href="notifications.html">Comprobantes de compra</a>
                </li>
                <li>
                    <a href="typography.html">Órdenes de pago</a>
                </li>
                <li>
                    <a href="icons.html"> Saldos</a>
                </li>
                <li>
                    <a href="grid.html">Gastos varios </a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
          <li>
              <a href="#"><i class="fa fa-wrench fa-fw"></i> Informes<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                  <li>
                      <a href="panels-wells.html">Cashflow</a>
                  </li>
                  <li>
                      <a href="buttons.html">Impositivos</a>
                  </li>
              </ul>
              <!-- /.nav-second-level -->
          </li>
        <li>
          <a href="#"><i class="fa fa-wrench fa-fw"></i> Depósito<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
          <li>
            <a href="panels-wells.html">Ítems</a>
          </li>
          <li>
            <a href="buttons.html">Atributos items</a>
          </li>
          <li>
            <a href="buttons.html">Remitos de ingreso</a>
          </li>
          <li>
            <a href="buttons.html">Remitos de egreso</a>
          </li>
          <li>
            <a href="buttons.html">Tipos de movimientos de depósito</a>
          </li>
          <li>
          <a href="buttons.html">Administración de depósitos</a>
          </li>                            
          <li>
            <a href="buttons.html">Transferencias</a>
          </li>                          
          <li>
            <a href="buttons.html">Stock</a>
            </li>                
          </ul>
          <!-- /.nav-second-level -->
      </li>
      <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Tesorería<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
        <li>
          <a href="panels-wells.html">Administración de Bancos</a>
        </li>
        <li>
          <a href="buttons.html">Chequeras</a>
        </li>
        <li>
          <a href="buttons.html">Movimiento de valores</a>
        </li>
        <li>
          <a href="buttons.html">Cajas</a>
        </li>          
        </ul>
        <!-- /.nav-second-level -->
    </li>      
      </ul>
      
  </div>
  <!-- /.sidebar-collapse -->
</div>
