<div id="page-wrapper">
    <div class="row ">
        <button type="button" class="btn btn-primary btn-lg" style="justify-content: center;" data-toggle="modal" data-target="#myModal" >Nuevo Cliente</button>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <input type="text" id="myInput" (keyup)="myFunction()" placeholder="Búsqueda..." aria-label="Username">
            <table class="table" id="tableClient">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>CUIT/DNI</th>
                        <th>Razón social</th>
                        <th>Nombre ficticio</th>
                        <th>Dirección</th>
                        <th>Condición frente al iva</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alexis</td>
                        <td>Caballero</td>
                        <td>Caballero</td>
                        <td>Caballero</td>
                        <td>Caballero</td>
                        <td>Wargos</td>
                        <td>
                            <a class="btn btn-info" style="margin: 2px">Editar</a>
                            <a class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<app-modal-client></app-modal-client>