<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 85%">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                  <section class="col-lg-9" >
                    <h1 id="label-ficha" class="modal-title titulo">Cliente</h1>
                  </section>
                  <section>
                    <button id="cerrar-boton" onclick="cerrar();" data-original-title="Cerrar ventana" data-placement="left" rel="tooltip" data-target="#ficha1" type="button" class="btn btn-default" style='display:block;float: right;margin-right: 1%;box-shadow: none;border-color: white;'><i class="glyphicon glyphicon-remove"></i></button>
                  </section>
                </div>
              </div>
              <div class="modal-body" >
                  <div class="row">
                    <div class='col-md-12 col-lg-12'>
                      <div class="col-lg-6 col-sm-6 smart-form">
                        <label>   Código cliente:</label>
                        <label class="input">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>									
                            <input class="campoP input-lg form-control" name="codigo_cliente" id='codigo_cliente'  type="text" placeholder="Código cliente"  required>								
                          </div>
                        </label>
                      </div>
                      <div class="col-lg-6 col-sm-6 smart-form">
                        <label>   CUIT / DNI:</label>
                        <label class="input">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>									
                            <input class="campoP input-lg form-control" name="cuit_dni" id='cuit_dni'  type="text" placeholder="CUIT / DNI"  required>								
                          </div>
                        </label>
                      </div>
            
                    </div>
            
                  </div>
                  <div class="row">
                    <div class='col-md-12 col-lg-12'>
                      <div class="col-lg-6 col-sm-6 smart-form">
                        <label> Razón social:</label>
                        <label class="input">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>									
                            <input class="campoP input-lg form-control" name="razon_social" id='razon_social'  type="text" placeholder="Razón social"  required>								
                          </div>
                        </label>
                      </div>
                      <div class="col-lg-6 col-sm-6 smart-form">
                        <label> Nombre ficticio:</label>
                        <label class="input">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>									
                            <input class="campoP input-lg form-control" name="nombre_ficticio" id='nombre_ficticio'  type="text" placeholder="Nombre ficticio"  required>								
                          </div>
                        </label>
                      </div>
            
                    </div>
            
                  </div>
                  <div class="row">
                    <div class='col-md-12 col-lg-12' >
                      <div class="col-lg-6 col-sm-6 smart-form">
                        <label>Dirección:</label>
                        <label class="input">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>									
                            <input class="campoP input-lg form-control" name="dirección" id='direccion'  type="text" placeholder="Dirección"  required>								
                          </div>
                        </label>
                      </div>
                      <div class="col-lg-6 col-sm-6 smart-form">
                        <label> Condición IVA:</label>
                        <label class="input">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>									
                            <select class="form-control input-lg info-usuario" name="condicion_iva" id='condicion_iva' data-campo='tipo_medio' data-tabla='usuario'>
                            <option value='responsable_inscripto'>Responsable Inscripto</option>
                            <option value='monotributista'>Monotributista</option>
                            <option value='exento'>Exento</option>
                            <option value='no_responsable'>No responsable</option>
                            <option value='consumidor_final'>Consumidor final</option>
                            </select>													
                          </div>
                        </label>
                      </div>
            
                    </div>
                    
                  
            
                    <div class='col-lg-12 col-sm-12 smart-form' >
                    <label class='label'>  Observacion:</label>
                    <label class='input'>
                    <div class='input-group'>
                    <span class='input-group-addon'><i class='fa fa-align-justify'></i></span>						
                    <textarea class='campoP input-lg form-control' name='contacto_observacion' id='contacto_observacion"+numeroContacto+"'  type='text' placeholder='Observación' maxlength='250' required></textarea>				
                    </div>
                    </label>
                  </div>
                    </div>
                  </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>