<div class="row" id="row_totales">
    <div class='col-md-12 col-lg-12'>
      <div id="div_subtotal" class="col-lg-4 col-sm-4 smart-form">
        <label class="label"> <h3> Total deudor</h3></label>
        <label class="input">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>									
            <input class="campoP input-lg form-control"  id='sub_total'  type="text"  formControlName="total_deudor" placeholder="Importe final" maxlength="25" required  style=" text-align: right;">								
          </div>
        </label>
      </div>

      <div id="div_subtotal" class="col-lg-4 col-sm-4 smart-form">
        <label class="label"> <h3> Deudor aplicado</h3></label>
        <label class="input">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>									
            <input class="campoP input-lg form-control" id='deudor_aplicado'  type="text"  formControlName="deudor_aplicado" placeholder="Deudor aplicado" maxlength="25" required  style=" text-align: right;">								
          </div>
        </label>
      </div>

      <div class="col-lg-4 col-sm-4 smart-form">
        <label class="label"> <h3>  Monto total pagado:</h3></label>
        <label class="input">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-align-justify"></i></span>									
            <input class="campoP input-lg form-control" id='total'  type="text"  formControlName="total" placeholder="monto total pagado" maxlength="25" required   style=" text-align: right;">								
          </div>
        </label>
      </div>
    </div>
  </div>