<div id="page-wrapper">
  <div class="row ">
      <button type="button" class="btn btn-primary btn-lg" style="justify-content: center;" data-toggle="modal" (click) ="newReceipt()" data-target="#modalReceipt" >Nuevo recibo</button>
  </div>
  <div class="col-md-12">
      <div class="table-responsive">
          <input type="text" id="myInput" (keyup)="myFunction()" placeholder="Búsqueda..." aria-label="Username">
          <table class="table" id="tableClient">
              <thead>
                  <tr>
                      <th>Razón social</th>
                      <th>Punto de venta</th>
                      <th>Numero de recibo</th>
                      <th>Monto</th>
                      <th>Saldo deudor total</th>
                      <th>Fecha de creacion</th>
                      <th>CUIT/DNI</th>
                      <th>Acción</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let x of receipts">
                      <td>{{x.razon_social}}</td>
                      <td>{{x.punto_venta}}</td>
                      <td>{{x.numero_recibo}}</td>
                      <td>{{x.total}}</td>
                      <td>{{x.total_deudor}}</td>
                      <td>{{x.fecha_creacion}}</td>
                      <td>{{x.CUIT}}</td>
                      <td>
                            <button type="button" class="btn btn-info" style="justify-content: center;" data-toggle="modal" (click)="editReceipt(x)" data-target="#modalReceipt" >ver</button>
                        
                          <a class="btn btn-danger" data-toggle="modal" (click)="deleteReceiptVar(x.id)" data-target="#modalDelete">Borrar</a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<!-- Modal -->
<app-modal-receipt [receipt]=dataFicha></app-modal-receipt>






<!-- Central Modal Medium Info -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <h3>Desea eliminar este recibo?</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" class="btn btn-info" data-dismiss="modal">Cerrar</button>
              <button type="button" (click)="deleteReceipt()" class="btn btn-danger"  data-dismiss="modal">Borrar</button>
            </div>
          </div>
        </div>
      </div>
                
        <!-- Central Modal Medium Info-->