<form [formGroup]="mediaForm" id='media'>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Select"  formControlName="type">
            <mat-option value="tel">Telefono</mat-option>
            <mat-option value="mail">Mail</mat-option>
            <mat-option value="other">Otro</mat-option>
 
          </mat-select> 
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <input matInput  placeholder="Valor" formControlName="value">
          </mat-form-field>
        </mat-grid-tile>      
  </mat-grid-list>
  
</form>