<div  class='row'>
  <div class='col-md-12 col-lg-12' >
    <form [formGroup]="billReceiptForm">
  <input type='hidden' class='input-lg' id='did_factura"+i+"' value=0>
  <div class='col-lg-2 col-sm-2 smart-form'>
  <label class='label'>   Fecha emisión</label>
  <label class='input'>
  <div class='input-group'>
  <span class='input-group-addon'><i class='fa fa-align-justify'></i></span>
  <input   class='campoP input-lg form-control'  type='text' formControlName="emision_factura" placeholder='Emision factura' >
  
  </div>
  </label>
  </div>

  <div class='col-lg-2 col-sm-2 smart-form'>
  <label class='label'>   Número factura</label>
  <label class='input'>
  <div class='input-group'>
  <span class='input-group-addon'><i class='fa fa-align-justify'></i></span>
  <input   class='campoP input-lg form-control'  id='' onblur="completar_con_ceros(4,'punto_venta')" type='text' formControlName="numero_factura" placeholder='Numero de factura' >
  </div>
  </label>
  </div>
  <div class='col-lg-2 col-sm-2 smart-form'>
  <label class='label'>   Monto</label>
  <label class='input'>
  <div class='input-group'>
  <span class='input-group-addon'><i class='fa fa-align-justify'></i></span>
  <input   class='campoP input-lg form-control'  id='' onblur="completar_con_ceros(4,'punto_venta')" type='text' formControlName="monto" placeholder='monto' >
   </div>
  </label>
  </div>
  	<div class='col-lg-2 col-sm-2 smart-form'>
  	<label class='label'> Saldo</label>																
  	<label class='input'>
  	<div class='input-group'>
    <span class='input-group-addon'><i class='fa fa-align-justify'></i></span>
    <input   class='campoP input-lg form-control'  type='text' formControlName="saldo" placeholder='saldo' >

  	</div>
  	</label>
  	</div>
  	<div class='col-lg-2 col-sm-2 smart-form'>	
  	<label class='label'> Cancelación</label>																		
  	<label class='input'>
  	<div class='input-group'>
    <span class='input-group-addon'><i class='fa fa-align-justify'></i></span>
    <input   class='campoP input-lg form-control 'formControlName="cancelacion" placeholder='cancelacion' >
   
  	</div>
  	</label>
  	</div>			
  	<div class='col-lg-2 col-sm-2 smart-form'>
  	<label class='label'> Nuevo saldo</label>
  	<label class='input'>
  	<div class='input-group'>
    <span class='input-group-addon'><i class='fa fa-align-justify'></i></span>
    <input   class='campoP input-lg form-control' formControlName="nuevo_saldo" placeholder='nuevo saldo' >
    </div>
  	</label>		
    </div>
  </form>
  	</div>					
  	<input type='hidden' class='input-lg' id='did' value='0'>
  </div>